* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #324e63;
}
[hidden] {
    display: none;
}
a, a:hover {
    text-decoration: none;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.wrapper {
    height: auto;
    min-height: 100%;
    padding: 100px 20px 50px;
    display: flex;
    background-image: linear-gradient(-20deg, #185a9d 0%, #43cea2 100%);
}
.profile-card {
    width: 100%;
    margin: auto;
    box-shadow: 0 8px 60px -10px rgba(13, 28, 39, .6);
    background: #fff;
    border-radius: 12px;
    max-width: 700px;
}
.profile-card__img {
    width: 150px;
    height: 150px;
    margin: -75px auto 35px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}
.profile-card__img img {
    max-width: 100%;
}
.profile-card__cnt {
    text-align: center;
    padding: 0 20px 40px;
}
.profile-card__name {
    font-size: 24px;
    font-weight: 700;
    color: #1da1f2;
    margin-bottom: 15px;
}
.profile-card__txt {
    font-size: 18px;
    margin-bottom: 15px;
}
.profile-card-loc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
}
.profile-card-loc__icon {
    display: inline-flex;
    font-size: 27px;
    margin-right: 10px;
}
.profile-card-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.profile-card-social__item {
    width: 55px;
    height: 55px;
    margin: 15px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
    font-size: 21px;
    transition: all .3s;
}
.profile-card-social__item.facebook {
    background: #3b5998;
}
.profile-card-social__item.twitter {
    background: #1da1f2;
}
.profile-card-social__item.instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.profile-card-social__item.github {
    background: #333;
}
.profile-card-social__item.linkedin {
    background: #0077b5;
}
.profile-card-social .icon-font {
    display: inline-flex;
}
@media screen and (max-width:575px) {
    .profile-card__img {
        width: 120px;
        height: 120px;
    }
}
@media screen and (max-width:767px) {
    .profile-card-social__item {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
}
@media screen and (min-width:768px) {
    .profile-card-social__item:hover {
        transform: scale(1.2);
    }
}
